@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* El body contiene, fondo del mismo color del logo de la fifa, letra tipo blod, y el color de letra es gainsboro ya que no cansa tanto a la vista que un white*/
body {
  background-color: #2C4B86;
  font-family: 'bold', sans-serif;
  color: gainsboro; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Monofett', monospace;
    text-align: center; }

/* los titulos contienen el tipo de lera Monofett*/
header nav img {
  width: 70px;
  border-radius: 50%; }

main {
  /*  CONTENIER DE ORIGENES tiene diseño grid para tener el que el texto y la imagen tengan su respectivo diseño */
  /* IMAGENES DE UNIFICACION DEL SIGLO XIX, tiene diseño flex, ademas de agregarle transition y transform */
  /*  IMAGENE PRIMEROS EVENTOS, tiene diseño flex, ademas de agregarle transition y transform */
  /*  IMAGENES EXPANCION INTERNACIONAL, tiene diseño flex, ademas de agregarle transition y transform */
  /* MUNDIALES, contiene grid ya que al tener muchas imagenes se hace mas ficil diseñarlo en grid, ademas de agregarles hover a las imagenes */
  /* TEXTO CAMPEONATOS */
  /* IMAGENES CHAMPIONS LEAGUE, contiene display flex, le agrgue trasform, transition y hover */
  /* IMAGENES COPA LIBERTADORES, contiene display flex, le agrgue trasform, transition y hover */
  /* CULTURA, contiene display flex, le agrgue trasform, transition y hover */
  /* ECONOMIA, contiene display flex */
  /* DOPAJE, contiene display flex */
  /* VIOLENCIA, contiene display flex */
  /* REGLAS, contienen diplay flex */
  /* Formulario de Contacto */
  /* MEDIA QUERIS, contiene todo el contedido mobile tales como color, border, etc. */ }
  main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: double 2px blue; }
  main .text {
    grid-column: 1 / 2; }
  main .image {
    grid-column: 2 / 3; }
    main .image img {
      max-width: 100%;
      height: auto; }
  main .text_uni_XIX {
    margin: 20px; }
  main .img_uni_XIX {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .img_uni_XIX img {
      width: 300px; }
      main .img_uni_XIX img:hover {
        transform: scale(1.2, 1.2);
        transition: all 2s; }
  main .text_pri_eve {
    margin: 20px; }
  main .img_pri_eve {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .img_pri_eve img {
      width: 250px; }
      main .img_pri_eve img:hover {
        transform: scale(1.2, 1.2);
        transition: all 2s; }
  main .text_exp_int {
    margin: 20px; }
  main .img_exp_int {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .img_exp_int img {
      width: 300px; }
      main .img_exp_int img:hover {
        transform: scale(1.2, 1.2);
        transition: all 2s; }
  main .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
  main .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C4B86;
    height: 150px;
    border: 1px solid #2C4B86; }
    main .grid-item img {
      max-width: 100%;
      max-height: 100%;
      opacity: .3; }
      main .grid-item img:hover {
        opacity: 1; }
  main .img_cop_america {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .img_cop_america img {
      max-width: 400px;
      max-height: 300px; }
      main .img_cop_america img:hover {
        transform: scale(1.2, 1.2);
        transition: all 2s; }
  main .text_mundial {
    text-align: center; }
  main .text_copa_america {
    text-align: center; }
  main .text_champions {
    text-align: center; }
  main .img_champions {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .img_champions img {
      max-width: 400px;
      max-height: 300px; }
      main .img_champions img:hover {
        transform: scale(1.2, 1.2);
        transition: all 2s; }
  main .text_libertadores {
    text-align: center; }
  main .img_libertadores {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .img_libertadores img {
      max-width: 350px;
      max-height: 300px; }
      main .img_libertadores img:hover {
        transform: scale(1.1, 1.1);
        transition: all 2s; }
  main .grid_email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    font-size: large;
    border: black 1px solid; }
    main .grid_email img {
      max-width: 50px; }
  main .grid_num_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    font-size: large;
    border: black 1px solid; }
    main .grid_num_contacto img {
      max-width: 50px; }
  main .section_cultura {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .section_cultura .text_cultura {
      margin: 20px;
      padding: auto; }
    main .section_cultura .img_cultura {
      max-width: 100%;
      max-height: 100%; }
      main .section_cultura .img_cultura img {
        border: 3px sandybrown solid;
        width: 350px;
        height: 200px; }
        main .section_cultura .img_cultura img:hover {
          transform: scale(1.2, 1.2);
          transition: all 2s; }
    main .section_cultura .img_cultura_2 {
      max-width: 100%;
      max-height: 100%; }
      main .section_cultura .img_cultura_2 img {
        border: 3px sandybrown solid;
        width: 350px;
        height: 200px; }
        main .section_cultura .img_cultura_2 img:hover {
          transform: scale(1.2, 1.2);
          transition: all 2s; }
  main .text_economia {
    margin: 20px;
    padding: auto; }
  main .img_economia {
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main .img_economia img {
      border: 3px blueviolet solid;
      width: 350px;
      height: 200px; }
  main .text_dopaje {
    margin: 20px; }
  main .img_dopaje {
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    main .img_dopaje img {
      width: 400px;
      height: 300px;
      border: 2px solid blueviolet; }
  main .text_violencia {
    margin: 20px; }
  main .img_violencia {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main .img_violencia img {
      width: 550;
      height: 500;
      border: 3px blueviolet solid; }
  main .accordion-body {
    display: flex;
    justify-content: space-around; }
    main .accordion-body img {
      width: 300px; }
  main .text_reglas_fut {
    margin: 20px; }
  main form {
    width: 400px;
    margin: 0 auto; }
    main form label {
      display: block;
      margin-top: 10px; }
    main form input[type="text"],
    main form input[type="email"],
    main form textarea {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc; }
    main form input[type="button"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #4CAF50;
      color: white;
      border: none; }
  @media (max-width: 425px) {
    main img {
      max-width: 100%; }
    main .img_violencia img {
      border: 2px darkred double; }
    main .img_economia img {
      border: 2px darkkhaki double; }
    main .grid-item {
      background-color: #2C4B86;
      border: 2px solid #2C4B86; }
    main .img_cop_america img {
      border: 2px solid darkmagenta; }
    main .img_libertadores img {
      margin: 0 auto; }
    main .grid_num_contacto {
      border: limegreen 2px solid; }
    main .grid_email {
      border: limegreen 2px solid; }
    main .campeones_copa_america {
      width: 90% auto; }
    main .cultura_obelisco {
      width: auto; }
    main .accordion img {
      width: 40%; } }

footer .flex_seguime {
  display: flex;
  justify-content: center; }
  footer .flex_seguime img {
    max-width: 50px; }

/* Footer contiene, diseño flex para las imagenes de las redes sociales*/
