*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    font-family: 'Barlow', sans-serif;
}

.logo_fifa{
    width: 70px;
    border-radius: 50%;
}

h1, h2, h3, h4, h5{
    font-family: 'Frijole', cursive;
    text-align: center;
}
/*  CONTENIDO DE ORIGENES  */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: double 2px blue;
}

.text {
    grid-column: 1 / 2;
}

.image {
    grid-column: 2 / 3;
}

.image img {
    max-width: 100%;
    height: auto;
}

/*  Fin del CONTENIDO DE ORIGENES  */

.text_uni_XIX {
    margin: 10px;
}
/* IMAGENES DE UNIFICACION DEL SIGLO XIX */

.img_uni_XIX {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img_uni_XIX img {
    width: 300px;
}

/*  FIN DE IMAGENES DE UNIFICACION DEL SIGLO XIX */

.text_pri_eve {
    margin: 10px;
}

/*  IMAGENE PRIMEROS EVENTOS */

.img_pri_eve {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_pri_eve img {
    width: 250px;
}

/*  FIN DE IMAGENE PRIMEROS EVENTOS */

.text_exp_int{
    margin: 10px;
}

/*  IMAGENES EXPANCION INTERNACIONAL */

.img_exp_int {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_exp_int img {
    width: 300px;
}

/*  FIN DE EXPANCION INTERNACIONAL */

/* CAMPEONATOS */

/* MUNDIALES */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 150px;
    border: 1px solid #ccc;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    opacity: .7;
}

.grid-item :hover {
    opacity: 1;
}

.img_cop_america {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_cop_america img {
    max-width: 400px;
    max-height: 300px;
}

/* TEXTO CAMPEONATOS */

.text_mundial {
    text-align: center;
    background-color: white;
}

.text_copa_america {
    text-align: center;
    background-color: white;
}

.text_champions {
    text-align: center;
    background-color: white;
}

/* FIN TEXTO CAMPEONATOS */

/* IMAGENES CHAMPIONS LEAGUE */

.img_champions {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_champions img {
    max-width: 400px;
    max-height: 300px;
}

/* FIN IMAGENES CHAMPIONS LEAGUE */

.text_libertadores {
    text-align: center;
    background-color: white;   
}

/* IMAGENES COPA LIBERTADORES */

.img_libertadores {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img_libertadores img {
    max-width: 400px;
    max-height: 300px;
}

.grid_email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    font-size: large;
    border: black 1px solid;
}

.grid_email img {
    max-width: 50px;
}

.grid_num_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    font-size: large;
    border: black 1px solid;
}

.grid_num_contacto img {
    max-width: 50px;
}

.flex_seguime {
    display: flex;
    justify-content: center;
}

.flex_seguime img {
    max-width: 50px;
}