*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    font-family: 'Barlow', sans-serif;
}

.logo_fifa{
    width: 70px;
    border-radius: 50%;
}

h1, h2, h3, h4, h5{
    font-family: 'Frijole', cursive;
    text-align: center;
}
/*  CONTENIDO DE ORIGENES  */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: double 2px blue;
}

.text {
    grid-column: 1 / 2;
}

.image {
    grid-column: 2 / 3;
}

.image img {
    max-width: 100%;
    height: auto;
}

/*  Fin del CONTENIDO DE ORIGENES  */

.text_uni_XIX {
    margin: 50px;
}
/* IMAGENES DE UNIFICACION DEL SIGLO XIX */

.img_uni_XIX {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img_uni_XIX img {
    width: 300px;
}

/*  FIN DE IMAGENES DE UNIFICACION DEL SIGLO XIX */

.text_pri_eve {
    margin: 50px;
}

/*  IMAGENE PRIMEROS EVENTOS */

.img_pri_eve {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_pri_eve img {
    width: 250px;
}

/*  FIN DE IMAGENE PRIMEROS EVENTOS */

.text_exp_int{
    margin: 50px;
}

/*  IMAGENES EXPANCION INTERNACIONAL */

.img_exp_int {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_exp_int img {
    width: 300px;
}

/*  FIN DE EXPANCION INTERNACIONAL */

/* CAMPEONATOS */

/* MUNDIALES */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 150px;
    border: 1px solid #ccc;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    opacity: .3;
}

.grid-item :hover {
    opacity: 1;
}

.img_cop_america {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_cop_america img {
    max-width: 400px;
    max-height: 300px;
}

/* TEXTO CAMPEONATOS */

.text_mundial {
    text-align: center;
}

.text_copa_america {
    text-align: center;
}

.text_champions {
    text-align: center;
}

/* FIN TEXTO CAMPEONATOS */

/* IMAGENES CHAMPIONS LEAGUE */

.img_champions {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_champions img {
    max-width: 400px;
    max-height: 300px;
}

/* FIN IMAGENES CHAMPIONS LEAGUE */

.text_libertadores {
    text-align: center; 
}

/* IMAGENES COPA LIBERTADORES */

.img_libertadores {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img_libertadores img {
    max-width: 400px;
    max-height: 300px;
}

.grid_email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    font-size: large;
    border: black 1px solid;
}

.grid_email img {
    max-width: 50px;
}

.grid_num_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    font-size: large;
    border: black 1px solid;
}

.grid_num_contacto img {
    max-width: 50px;
}

.flex_seguime {
    display: flex;
    justify-content: center;
}

.flex_seguime img {
    max-width: 50px;
}

/* DESAROLLO */

/* CULTURA */

.conteiner_cultura {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.conteiner_text_cultura {
    grid-column: 1 / 2;
}

.conteiner_img_cultura {
    grid-column: 2 / 3;
}

.conteiner_img_cultura img {
    max-width: 100%;
    height: auto;
}

.conteiner_cultura_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.conteiner_text_cultura_2 {
    grid-column: 1 / 2;
}

.conteiner_img_cultura_2 {
    grid-column: 2 / 3;
}

.conteiner_img_cultura_2 img {
    max-width: 100%;
    height: auto;
}

.conteiner_cultura_all {
    border: 2px blueviolet solid;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}       
/* FIN CULTURA */

/* ECONOMIA */

.text_economia {
    margin: 50px;
    padding: auto;
}

.img_economia {
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        
}

.img_economia img {
    border: 3px blueviolet solid;
}

/* FIN ECONOMIA */

/* DOPAJE */

.text_dopaje {
    margin: 50px;
}

/* FIN DOPAJE */

/* VIOLENCIA */

.text_violencia {
    margin: 50px;
}

.img_violencia {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img_violencia img {
    max-width: 100%;
    max-height: 100%;
    border: 3px blueviolet solid;
}
/* FIN VIOLENCIA */

/* MEDIA QUERIS */
@media (max-width: 425px) {
    body{
        background-color: lightgray;
        color: darkmagenta ;
    }
    .img_violencia img{
        border: 2px darkred double;
    }
    .img_economia img{
        border: 2px darkkhaki double;
    }
    .conteiner_img_cultura img {
        border: 2px darkgreen double;
    }
    .conteiner_cultura_2 img {
        border: 2px darkgreen double;
    }
    .conteiner_cultura_all {
        border: 2px darkgreen double;
    }
    .grid-item {
        background-color: goldenrod;
        border: 2px solid darkred;
    }
    .img_cop_america img {
        border: 2px solid darkmagenta;
    }
    .img_libertadores img {
        margin: 0 auto;
    } 
}

/* FIN MEDIA QUERIS*/

/* REGLAS */

.accordion-body {
    display: flex;
    justify-content: space-around;
}
.accordion-body img {
    width: 300px;
}

/* FIN REGLAS */