footer {
    .flex_seguime {
        display: flex;
        justify-content: center;

            img {
                max-width: 50px;
            }
    }
}
/* Footer contiene, diseño flex para las imagenes de las redes sociales*/