main {

    /*  CONTENIER DE ORIGENES tiene diseño grid para tener el que el texto y la imagen tengan su respectivo diseño */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: double 2px blue;
    }
    
    .text {
        grid-column: 1 / 2;
    }
    
    .image {
        grid-column: 2 / 3;

            img {
                max-width: 100%;
                height: auto;
            }
    }

    /* IMAGENES DE UNIFICACION DEL SIGLO XIX, tiene diseño flex, ademas de agregarle transition y transform */
    .text_uni_XIX {
        margin: 20px;
    }

    .img_uni_XIX {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                width: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
    }
    
    /*  IMAGENE PRIMEROS EVENTOS, tiene diseño flex, ademas de agregarle transition y transform */

    .text_pri_eve {
        margin: 20px;
    }
    
    .img_pri_eve {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                width: 250px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
    }

    /*  IMAGENES EXPANCION INTERNACIONAL, tiene diseño flex, ademas de agregarle transition y transform */

    .text_exp_int{
        margin: 20px;
    }

    .img_exp_int {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                width: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }

            
    }

    /* MUNDIALES, contiene grid ya que al tener muchas imagenes se hace mas ficil diseñarlo en grid, ademas de agregarles hover a las imagenes */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    
    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2C4B86;
        height: 150px;
        border: 1px solid #2C4B86;

            img {
                max-width: 100%;
                max-height: 100%;
                opacity: .3;

                &:hover {
                    opacity: 1;
                }
            }

            
    }

    .img_cop_america {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                max-width: 400px;
                max-height: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
            
    }
    
    /* TEXTO CAMPEONATOS */
    
    .text_mundial {
        text-align: center;
    }
    
    .text_copa_america {
        text-align: center;
    }
    
    .text_champions {
        text-align: center;
    }
    /* IMAGENES CHAMPIONS LEAGUE, contiene display flex, le agrgue trasform, transition y hover */

    .img_champions {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                max-width: 400px;
                max-height: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
            

    .text_libertadores {
        text-align: center; 
    }

    /* IMAGENES COPA LIBERTADORES, contiene display flex, le agrgue trasform, transition y hover */

    .img_libertadores {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                max-width: 350px;
                max-height: 300px;

                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: all 2s;
                }
            }
            
    }
    
    .grid_email {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        font-size: large;
        border: black 1px solid;

            img {
                max-width: 50px;
            }
    }
    
    .grid_num_contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        font-size: large;
        border: black 1px solid;

            img {
                max-width: 50px;
            }
    }

    /* CULTURA, contiene display flex, le agrgue trasform, transition y hover */

    .section_cultura {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .text_cultura {
            margin: 20px;
            padding: auto;
        }
        .img_cultura {
            max-width: 100%;
            max-height: 100%;

            img {
                border: 3px sandybrown solid;
                width: 350px;
                height: 200px;

                &:hover{
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
        }

        .img_cultura_2 {
            max-width: 100%;
            max-height: 100%;

            img {
                border: 3px sandybrown solid;
                width: 350px;
                height: 200px;

                &:hover{
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
        }
    }

    /* ECONOMIA, contiene display flex */

    .text_economia {
        margin: 20px;
        padding: auto;
    }
    
    .img_economia {
        max-width: 100%;
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        
            img {
                border: 3px blueviolet solid;
                width: 350px;
                height: 200px;
            }
    }
    /* DOPAJE, contiene display flex */

    .text_dopaje {
        margin: 20px;
    }
    .img_dopaje {
        margin: 0 auto;
        display: flex;
        justify-content: center;

            img {
                width: 400px;
                height: 300px;
                border: 2px solid blueviolet;
            }
    }

    /* VIOLENCIA, contiene display flex */

    .text_violencia {
        margin: 20px;
    }
    
    .img_violencia {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

            img {
                width: 550;
                height: 500;
                border: 3px blueviolet solid;
            }
    }

    /* REGLAS, contienen diplay flex */

    .accordion-body {
        display: flex;
        justify-content: space-around;

        img {
            width: 300px;
        }
    }
    
    .text_reglas_fut {
        margin: 20px;
    }

    /* MEDIA QUERIS, contiene todo el contedido mobile tales como color, border, etc. */

    @media (max-width: 425px) {

        img {
            max-width: 100%;
        }
        .img_violencia img{
            border: 2px darkred double;
        }
        .img_economia img{
            border: 2px darkkhaki double;
        }
        .grid-item {
            background-color: #2C4B86;
            border: 2px solid #2C4B86;
        }
        .img_cop_america img {
            border: 2px solid darkmagenta;
        }
        .img_libertadores img {
            margin: 0 auto;
        }    
        .grid_num_contacto {
            border: limegreen 2px solid;
        }
        .grid_email {
            border: limegreen 2px solid;
        }
        .campeones_copa_america {
            width: 90% auto;
        }
        .cultura_obelisco {
            width: auto;
        }
        
        }
    }
}