main {
    .logo_fifa {
        width: 70px;
        border-radius: 50%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: double 2px blue;
    }
    
    .text {
        grid-column: 1 / 2;
    }
    
    .image {
        grid-column: 2 / 3;

            img {
                max-width: 100%;
                height: auto;
            }
    }

    /*  Fin del CONTENIDO DE ORIGENES  */

    .text_uni_XIX {
        margin: 50px;
    }
    /* IMAGENES DE UNIFICACION DEL SIGLO XIX */

    .img_uni_XIX {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                width: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }

            
    }

    /*  FIN DE IMAGENES DE UNIFICACION DEL SIGLO XIX */

    .text_pri_eve {
        margin: 50px;
    }
    
    /*  IMAGENE PRIMEROS EVENTOS */
    
    .img_pri_eve {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                width: 250px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }

            
    }

    /*  FIN DE IMAGENE PRIMEROS EVENTOS */

    .text_exp_int{
        margin: 50px;
    }

    /*  IMAGENES EXPANCION INTERNACIONAL */

    .img_exp_int {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                width: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }

            
    }

    /*  FIN DE EXPANCION INTERNACIONAL */

    /* CAMPEONATOS */

    /* MUNDIALES */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    
    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f1f1;
        height: 150px;
        border: 1px solid #ccc;

            img {
                max-width: 100%;
                max-height: 100%;
                opacity: .3;

                &:hover {
                    opacity: 1;
                }
            }

            
    }

    .img_cop_america {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                max-width: 400px;
                max-height: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
            
    }
    
    /* TEXTO CAMPEONATOS */
    
    .text_mundial {
        text-align: center;
    }
    
    .text_copa_america {
        text-align: center;
    }
    
    .text_champions {
        text-align: center;
    }

    /* FIN TEXTO CAMPEONATOS */

    /* IMAGENES CHAMPIONS LEAGUE */

    .img_champions {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                max-width: 400px;
                max-height: 300px;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 2s;
                }
            }
            
    }

    /* FIN IMAGENES CHAMPIONS LEAGUE */

    .text_libertadores {
        text-align: center; 
    }

    /* IMAGENES COPA LIBERTADORES */

    .img_libertadores {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            img {
                max-width: 350px;
                max-height: 300px;

                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: all 2s;
                }
            }
            
    }
    
    .grid_email {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        font-size: large;
        border: black 1px solid;

            img {
                max-width: 50px;
            }
    }
    
    .grid_num_contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        font-size: large;
        border: black 1px solid;

            img {
                max-width: 50px;
            }
    }
    
    /* DESAROLLO */

    /* CULTURA */

    .conteiner_cultura {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .conteiner_text_cultura {
        grid-column: 1 / 2;
    }
    
    .conteiner_img_cultura {
        grid-column: 2 / 3;

            img {
                max-width: 100%;
                height: auto;
            }
    }
    
    .conteiner_cultura_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .conteiner_text_cultura_2 {
        grid-column: 1 / 2;
    }
    
    .conteiner_img_cultura_2 {
        grid-column: 2 / 3;

            img {
                max-width: 100%;
                height: auto;
            }
    }
    
    .conteiner_cultura_all {
        border: 2px blueviolet solid;
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
    }     

    /* FIN CULTURA */

    /* ECONOMIA */

    .text_economia {
        margin: 50px;
        padding: auto;
    }
    
    .img_economia {
        max-width: 100%;
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        
            img {
                border: 3px blueviolet solid;
                width: 350px;
                height: 200px;
            }
    }
    
    /* FIN ECONOMIA */

    /* DOPAJE */

    .text_dopaje {
        margin: 50px;
    }
    .img_dopaje {
        margin: 0 auto;
        display: flex;
        justify-content: center;

            img {
                width: 400px;
                height: 300px;
                border: 2px solid blueviolet;
            }
    }

    /* FIN DOPAJE */

    /* VIOLENCIA */

    .text_violencia {
        margin: 50px;
    }
    
    .img_violencia {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

            img {
                width: 550;
                height: 500;
                border: 3px blueviolet solid;
            }
    }

    /* FIN VIOLENCIA */

    /* REGLAS */

    .accordion-body {
        display: flex;
        justify-content: space-around;

        img {
            width: 300px;
        }
    }
    
    .text_reglas_fut {
        margin: 50px;
    }

    /* FIN REGLAS */

}