/* MEDIA QUERIS */

@media (max-width: 425px) {

    img {
        max-width: 100%;
    }
    .img_violencia img{
        border: 2px darkred double;
    }
    .img_economia img{
        border: 2px darkkhaki double;
    }
    .conteiner_img_cultura img {
        border: 2px darkgreen double;
    }
    .conteiner_cultura_2 img {
        border: 2px darkgreen double;
    }
    .conteiner_cultura_all {
        border: 2px darkgreen double;
    }
    .grid-item {
        background-color: goldenrod;
        border: 2px solid darkred;
    }
    .img_cop_america img {
        border: 2px solid darkmagenta;
    }
    .img_libertadores img {
        margin: 0 auto;
    } 
    .grid_num_contacto {
        border: limegreen 2px solid;
    }
    .grid_email {
        border: limegreen 2px solid;
    }
}

/* FIN MEDIA QUERIS*/